/* @media screen and (max-width: 1120px) and (min-width: 480px) {
  .page-title__wrapp__background {
    display: flex;
    flex-direction: row;
    height: 50px;
  }
} */

@media screen and (max-width: 480px) {
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-title__wrapp {
  width: 90%;
}

.page-title__wrapp__background {
  border-radius: 10px;
}

.page-title__wrapp__background {
  background-color: rgba(250, 235, 215, 0.435);
}

.page-title__wrapp__background img {
  margin-top: 7px;
  margin-left: 15px;
}
