.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-title__wrapp {
  width: 90%;
}

.page-title__wrapp__background {
  background-color: rgba(250, 235, 215, 0.435);
}
