@media screen and (max-width: 480px) {

  .page-title__wrapp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.435);
  }
  
  .page-title__wrapp--title {
    font-family: "TT Lakes";
    line-height: 0px;
    font-size: 19px;
    color: antiquewhite;
    margin-left: 10px;
  }

  .page-title__wrapp--buttons-wrapp {
    display: none;
  }
}
