@media screen and (max-width: 1120px) and (min-width: 480px) {
  .about {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }

  .about__description-wrapp__image-wrapp > img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .about__description-wrapp__description__text-container__text {
    max-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
  }
}

.about__description-wrapp__description__text-container__text {
  color: antiquewhite;
  font-family: "TT Lakes";
}

.about__show-more-btn {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-bottom: 15px;
}

.about__show-more-btn:hover {
  cursor: pointer;
}

.about__show-more-btn__icon {
  padding-right: 10px;
}

.about__show-more-btn__text {
  color: antiquewhite;
  font-family: "TT Lakes";
  font-size: 20px;
}
