@media screen and (max-width: 1120px) and (min-width: 480px) {
  .about-description {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* padding: 15px; */
  }

  .about-description__text-wrapp {
    width: 50%;
    padding-right: 30px;
  }

  .about-description__image-wrapp {
    width: 50%;
    overflow: hidden;
    padding-right: 15px;
  }

  .about-description__image-wrapp img {
    width: 100%;
    border-radius: 20px;

  }

  .about-description__text-wrapp {
    max-height: 350px;
    margin-left: 15px;
  }

  .about-description__text-wrapp > p {
    max-height: 200px;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  /* .about-description__text-wrapp {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  } */

  .about-description__text-wrapp > p {
    max-height: 90px;
    overflow: hidden;
  }

  .about-description__image-wrapp img {
    max-width: 480px;
  }
}

.about-description {
  padding-top: 15px;
}

.about-description__text-wrapp {
  display: flex;
  flex-direction: column;
}

.about-description__text-wrapp__text {
  color: antiquewhite;
  font-family: "TT Lakes";
}

.about-description__image-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 350px;
}

.about-description__text-wrapp__show-more-btn {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-bottom: 15px;
}

.about-description__text-wrapp__show-more-btn:hover {
  cursor: pointer;
}

.about-description__text-wrapp__show-more-btn__icon {
  padding-right: 10px;
  padding-top: 4px;
}

.about-description__text-wrapp__show-more-btn__text {
  color: antiquewhite;
  font-family: "TT Lakes";
  font-size: 20px;
}
