.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid antiquewhite;
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(250, 235, 215, 0.241);
  height: 45px;
}

.nav-bar__left-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-bar__center-section {
  display: flex;
  flex-direction: row;
}

.nav-bar__right-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  nav img {
    max-width: 40px;
    max-height: 40px;
  }

  .nav-bar__center-section :nth-child(-n + 3) {
    display: none;
  }
}

@media screen and (max-width: 780px) and (min-width: 480px) {
  nav img {
    max-width: 45px;
    max-height: 45px;
  }

  .nav-bar {
    height: 50px;
  }

  .nav-bar__center-section {
    flex: 3 1 auto;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 4000px) and (min-width: 780px) {
  .nav-bar {
    display: none;
  }
}
