.about-description__text-wrapp {
  display: flex;
  flex-direction: column;
}

.about-description__text-wrapp__text {
  color: antiquewhite;
  font-family: "TT Lakes";
}

.about-description__image-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-description__text-wrapp__show-more-btn {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-bottom: 15px;
}

.about-description__text-wrapp__show-more-btn:hover {
  cursor: pointer;
}

.about-description__text-wrapp__show-more-btn__icon {
  padding-right: 10px;
  padding-top: 4px;
}

.about-description__text-wrapp__show-more-btn__text {
  color: antiquewhite;
  font-family: "TT Lakes";
  font-size: 20px;
}
