@media screen and (max-width: 1120px) and (min-width: 480px) {
  .about-description {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100%;
    padding-top: 40px;
  }

  .about-description article {
    width: 50%;
  }

  .about-description--text {
    height: 130px;
    width: 85%;
    color: antiquewhite;
    font-family: "TT Lakes";
    font-size: 14px;
    padding-bottom: 5px;
    overflow: hidden;
  }

  .about-description--text {
    margin-left: 10px;
  }

  .about-description--image {
    width: 50%;
    height: 100%;
    background-image: url(../../../../images/main/about/retro.svg);
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  .about-description--show-more-btn {
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
    font-family: "TT Lakes";
    font-size: 20px;
    color: antiquewhite;
    margin-left: 15px;
  }
}
