@media screen and (max-width: 4000px) and (min-width: 780px) {
  .about-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
    padding-top: 30px;
  }

  .about-description article {
    width: 60%;
    height: 75%;
  }

  .about-description--text {
    height: 80%;
    width: 80%;
    color: antiquewhite;
    font-family: "TT Lakes";
    padding-bottom: 5px;
    overflow: hidden;
  }

  .about-description--text {
    margin-left: 10px;
  }

  .about-description--show-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 140px;
    font-family: "TT Lakes";
    font-size: 20px;
    color: antiquewhite;
    margin-top: 0;
    margin-left: 35px;
  }

  .about-description--image {
    width: 60%;
    height: 100%;
    background-image: url(../../../../images/main/about/retro.svg);
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
}
