@media screen and (max-width: 780px) and (min-width: 480px) {
  .page-menu {
    overflow-x: scroll;
    scrollbar-width: thin;
    padding-top: 10px;
  }

  .page-menu__buttons-wrapp {
    justify-content: flex-start;
  }
}
