.page-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.page-menu__buttons-wrapp {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

.page-menu__buttons-wrapp__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-menu__buttons-wrapp__buttons__menu-btn {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  color: antiquewhite;
  margin-right: 5px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  letter-spacing: 0.2px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "TT Lakes";
  font-weight: bold;
  font-size: 15px;
}

.page-menu__buttons-wrapp__buttons__menu-btn:hover {
  border: 1px solid antiquewhite;
}

.totaly-active {
  border: 1px solid antiquewhite;
}

