.page-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.page-menu__buttons-wrapp {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

.page-menu__buttons-wrapp__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
