.page-menu__buttons-wrapp {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

.page-menu__buttons-wrapp--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
}

.page-menu__buttons-wrapp--buttons :nth-child(2) {
  border: 1px solid antiquewhite;
}

.page-menu__buttons-wrapp--buttons--btn {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  color: antiquewhite;
  margin-right: 5px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  letter-spacing: 0.4px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "TT Lakes";
  font-weight: bold;
  font-size: 15px;
  transition-duration: 0.3s;
}

.page-menu__buttons-wrapp--buttons--btn:hover {
  border: 1px solid antiquewhite;
}
