@media screen and (max-width: 480px) {
  nav img {
    max-width: 40px;
    max-height: 40px;
  }

  .nav-bar__left-section > div:nth-child(2) {
    display: none;
  }

  .nav-bar__center-section > div:nth-child(-n + 3) {
    display: none;
  }

  .nav-bar__left-section--icon-wrapp--menu-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #cd5c5c;
    border-radius: 35%;
    background-image: url("../../../../images/navigation/menu.svg");
    background-position: 50% 50%;
    background-size: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .nav-bar__left-section--icon-wrapp--menu-icon:hover {
    background-color: transparent;
  }

  .nav-bar__left-section--logo-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../../../../images/navigation/logo.svg");
    background-position: 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .nav-bar__right-section--settings-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #cd5c5c;
    border-radius: 35%;
    background-image: url("../../../../images/navigation/settings.svg");
    background-position: 50% 50%;
    background-size: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .nav-bar__right-section--settings-icon:hover {
    background-color: transparent;
  }

  .nav-bar__right-section--search-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #cd5c5c;
    border-radius: 35%;
    background-image: url("../../../../images/navigation/search.svg");
    background-position: 50% 50%;
    background-size: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .nav-bar__right-section--search-icon:hover {
    background-color: transparent;
  }
}
