.nav-bar__left-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-bar__center-section {
  display: flex;
  flex-direction: row;
}

.nav-bar__right-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-bar__divider-wrapp__divider {
  width: 2px;
  height: 85%;
  border: 1px solid antiquewhite;
  border-radius: 2px;
  background-color: rgba(250, 235, 215, 0.363);
}

.nav-bar__left-section__icon-wrapp {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-bar__center-section__icon-wrapp {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-bar__right-section__icon-wrapp {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-bar__left-section__logo:hover {
  cursor: pointer;
}
