html {
  margin: 0;
  padding: 0;
  background-color: #808d85;
  color: #faebd7;
  color: #f5f5f5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  width: 100%;
}

main {
  width: 90%;
  height: 95%;
}

@media screen and (max-width: 4000px) and (min-width: 780px) {
  .main-container {
    border-top: 1px solid antiquewhite;
    border-radius: 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid antiquewhite;
  border-right: 1px solid antiquewhite;
  border-bottom: 1px solid antiquewhite;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 25px;
  background-color: rgba(250, 235, 215, 0.15);
  overflow: hidden;
}

/*  NOT GOOOOOD !!!!!!*/
.icon-wrapp {
  margin-left: 13px;
  margin-right: 13px;
}
/*  NOT GOOOOOD !!!!!!*/

.btn-hover {
  animation: onHoverOff 0.3s both;
}

.btn-hover:hover {
  cursor: pointer;
  animation: onHoverOn 0.3s both;
}

@keyframes onHoverOff {
  100% {
    background-color: indianred;
  }

  0% {
    background-color: #808d8500;
  }
}

@keyframes onHoverOn {
  0% {
    background-color: indianred;
  }

  100% {
    background-color: #808d8500;
  }
}

.menu-btn {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  color: antiquewhite;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}

.menu-btn:active {
  border: 1px solid antiquewhite;
}

.totaly-active {
  border: 1px solid antiquewhite;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "TT Lakes";
  src: url("TTLakesCondensed-DemiBold.eot");
  src: local("TT Lakes Condensed DemiBold"), local("TTLakesCondensed-DemiBold"),
    url("fonts/TTLakesCondensed-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/TTLakesCondensed-DemiBold.woff") format("woff"),
    url("fonts/TTLakesCondensed-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}
